<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_TEMP" value="var/log" />
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />
	<logger name="org.springframework.web" level="DEBUG" />
	<logger name="jdbc.sqlonly" level="debug" />
	<logger name="jdbc.sqltiming" level="off" />
	<logger name="jdbc.audit" level="off" />
	<logger name="jdbc.resultset" level="off" />
	<logger name="jdbc.resultsettable" level="debug" />
	<logger name="jdbc.connection" level="off" />
</configuration>
